@charset "utf-8";


body{
    background-color: #ffffff;
}

.header{
    border-bottom: inset;

}

.header-side{
    text-align: center;
    }
    .header-side .header-ul{
    margin: 0 ;
    padding: 0 ;
    border-top: outset;
    }
    .header-side .header-li{
    list-style: none;
    display: inline-block;
    width: 13%;
    min-width: 90px;
    }
    .header-side .header-li:not(:last-child){
    border-right:2px solid #ddd;
    }
    .header-side a{
    text-decoration: none;
    color: #333;
    }
    .header-side a.current{
    color: #00B0F0;
    border-bottom:2px solid #00B0F0;
    }
    .header-side a:hover{
    color:#F7CB4D;
    border-bottom:2px solid #F7CB4D;
    }
.logo {

}

.icon_user{
    position: absolute;

}


@media screen and (max-width: 600px) {
    a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        letter-spacing: 0.1em;
    }

    .btn-g.header-side {
        display: block;
    }

    .g.header-side {
        color: #000;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 16px;
        box-sizing: border-box;
        z-index: 1;
        padding-top: 50px;
        transition: .3s;
    }

    .g.header-side.open {
        right: 0;
    }

    .g.header-side .g.header-side-menu {
        padding: 0;
        width: 100%;
        height: 100%;
        display: block;
        flex-direction: column;
        text-align: center;
        /*justify-content: center;*/
    }

    .g.header-side .g.header-side-menu li {
        width: 86%;
        padding: 15px;
        border-bottom: #525252 1px solid;
    }

}


.profile-header{
    
}

/* ヘッダーの全体の高さ */
.profile-height {
    height: 100vh; /* ヘッダー全体の高さを画面いっぱいに */
    display: flex;
    justify-content: center; /* コンテンツを中央に配置 */
    align-items: center; /* コンテンツを中央に配置 */
}

/* リストを縦に並べる設定 */
.profile-ul {
    list-style-type: none;
    padding: 10px 0 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* position-area: right; */
    position: absolute;
    left: 80%;   
    border-left: outset;
}

/* リンクのスタイル */
.profile a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin: 10px;
}

.profile a:hover {
    color:#F7CB4D;
    border-bottom:2px solid #F7CB4D;
}
.profile.active{
    color: #3498db; /* 現在のページにいるときの色 */
    font-weight: bold;
}
