.headline{
    padding-left: 0;
    color: #000000;
}
/* 初期状態でモーダルを非表示にする */
#logoutModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
#followModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.modal-pro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    width: 300px;
    text-align: center;
}
.pro-form{
    border: solid;
    width: max-content;
    margin: 0 auto 20px auto;
    padding: 20px 50px 20px 50px;
    background-color: lightyellow;
    transition: .3s cubic-bezier(0.5, 1, 0.89, 1);
  }
  .pro-form:hover {
    background: #f9dbca;
    color: #ff701e;
    transform: scale(1.03);
  }

.profile-icon {
    width: 200px;
    height: 200px;
    margin: auto;
}

.profile-icon img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

textarea {
    resize: none;
    display: block;
    max-width: 100%;
    margin: auto;
    font-family: serif;
    font-size: large;
    font-weight: lighter;
    padding: 10px;
    border: 4mm ridge rgba(221, 220, 50, .5);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.username{
    margin-top: 10px;
    font-weight: bold;
    font-family: MS Mincho;
    font-size: x-large;
    text-align: center;
    color: black;
}
.usermail {
    margin-top: 10px;
    font-weight: lighter;
    font-size: large;
    text-align: center;
    color: darkgrey;
}

.edit {
    display: block;
    margin: auto;
}

.modal-content {
    text-align: right;
}
.log{
    text-decoration: none;

}

.edit{
    background: #f16272;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 80px;
    margin-bottom: 8px;
  }
  
  .edit:hover {
    background: #ee3e52;
  }
  /* .unfollow-button{
    float: right;
    background-color: #ee3e52;
    border: thick double #ffffff;
    font-size: 15px;
  } */
  .unfollow-button{
    float: right;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 0 #e6d900;
    box-shadow: 0 5px 0 #9c9c9c;
    position: relative;
    display: inline-block;
    padding: 10px 8px 10px 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s;
    text-align: center;
    text-decoration: none;
    color: #212529;
    background: linear-gradient(to bottom right, #ee3e52, pink);
  }
  .unfollow-button:hover{
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);
    -webkit-box-shadow: 0 2px 0 #000000;
    box-shadow: 0 2px 0 #000000;
    background: linear-gradient(to bottom right, red, pink);
    color: white;
  }
  .follow-button{
    float: right;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 0 #e6d900;
    box-shadow: 0 5px 0 #9c9c9c;
    position: relative;
    display: inline-block;
    padding: 10px 8px 10px 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s;
    text-align: center;
    text-decoration: none;
    color: #212529;
    background: linear-gradient(to bottom right, #39c2ff, hsl(0deg 0% 100%));
    }
  .follow-button:hover{
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);
    -webkit-box-shadow: 0 2px 0 #000000;
    box-shadow: 0 2px 0 #000000;
    background: linear-gradient(to bottom right, #0033ff, #ffffff);
    color: white;
  }



  /* .follow-button{
    float: right;
    background-color: aqua;
    border: thick double #ffffff;
    font-size: 15px;

} */
  .back{
    top: -25px;
    position: relative;
    text-decoration: none;
    font-size: xx-large;
  }
  .chat-button{
    color: black;
    font-size: xx-large;
    text-decoration: none;
  }
  .chat-button:hover{
    color: #009dff;
    text-decoration: none;

  }