/* アニメーションの設定 */
@keyframes waveAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* アニメーションを適用 */
body {
  font-family: Arial, sans-serif;
  animation: waveAnimation 8s ease-in-out infinite;
  background: linear-gradient(120deg, #0099ff 20%, #7be7ff 30%, #b89c40 60%, #ffe65b 80%);
  background-size: 200% 200%;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


  
  /* ログインコンテナのスタイル */
  .login-container {
    background-color: rgba(0, 209, 245, 0.961);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  /* タイトルのスタイル */
  h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
  }

  h2 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    font-size: 3.5em;
    color: #ffffff;
    padding: 10px; /* 内側の余白 */
    background-color: #ff0000;
  }
  
  /* フォームグループのスタイル */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* ラベルのスタイル */
  label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
  }
  
  /* テキスト入力のスタイル */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* エラーメッセージのスタイル */
  .error-message {
    color: #ff0000;
    margin-bottom: 15px;
  }
  
  /* ボタンのスタイル */
  button {
    width: 100%;
    padding: 10px;
    background-color: #0022ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00138b;
  }
  